<table class="project-meta">
<tbody>
  <tr>
    <th>Started</th>
    <td>
      {{- with .Params.started -}}
      <span class="post_date">
        {{ . | time.Format ":date_long" }}
      </span>      
      {{- end }}
    </td>
  </tr>
  <tr>
    <th>Completed</th>
    <td>
      {{- with .Params.completed -}}
      <span class="post_date">
        {{ . | time.Format ":date_long" }}
      </span>
      {{- end }}
    </td>
  </tr>
  <tr>
    <th>Scale</th>
    <td>
      {{- with .Params.scale -}}
        <span>{{- . }}</span>
      {{- end }}
    </td>
  </tr>
  <tr>
    <th>Suppliers</th>
    <td>
      {{- with .Params.suppliers -}}
        {{- range . }}
          <span>{{- . }}</span>
        {{- end }}
      {{- end }}
    </td>
  </tr>
  <tr>
    <th>Rulesets</th>
    <td>
      {{- with .Params.rulesets -}}
        {{- range . }}
          <span>{{- . }}</span>
        {{- end }}
      {{- end }}
    </td>
  </tr>
</tbody>
</table>
