{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
  <div class="post_meta">
{{- end }}
  {{- with .Params.started -}}
      <span>Started {{ partial "sprite" (dict "icon" "calendar") }}</span>
      <span class="post_date">
        {{ . | time.Format ":date_long" }}
      </span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- with .Params.completed -}}
    <span>Completed {{ partial "sprite" (dict "icon" "calendar") }}</span>
    <span class="post_date">
      {{ . | time.Format ":date_long" }}
    </span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- with .Params.tags -}}
    <span>
      {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
      {{- range . }}
        {{- $tag := urlize . -}}
        <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
          {{- . }}
        </a>
      {{- end }}
    </span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
{{- if $showPostMeta }}
  </div>
{{- end }}
